@model Product

<h4>@Model.Product1</h4>
<table>
	<tr>
		<td>Price: </td>
		<td>@Model.Price</td>
	</tr>
	<tr>
		<td>Type: </td>
		<td>@Model.Category</td>
	</tr>
	<tr>
		<td>Description: </td>
		<td>@Model.Description</td>
	</tr>
</table>
