<h2>Make an account!</h2>
<h4>Thank you for being a loyal customer :)</h4>
<form asp-action="Dashboard">
	<label>First Name: </label>
	<input type="text" name="Fname" />
	<label>Last Name: </label>
	<input type="text" name="Lname" />
	<br />
	<br />
	<label>email: </label>
	<input type="text" name="Email" />
	<label>Password: </label>
	<input type="password" name="Pword"/>
	<br />
	<label>Fav. Color: </label>
	<input type="color" name="Color" />
	<button>Join!</button>
</form>