@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Do you love coffee?</h1>
    <p>Then how about you <a asp-controller="Home" asp-action="Create">sign up</a> for an account with us??</p>
</div>
